<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="logo-alexphone-main-header.svg" alt="logo">
    </a>

    <!-- Botón de Carrito -->
    <div class="d-flex position-relative">
      <a routerLink="/cart" class="btn btn-outline-light position-relative">
        🛒
        @if (cartItemCount > 0) {
          <span class="cart-badge">
            {{ cartItemCount }}
          </span>
        }
      </a>
    </div>
  </div>
</nav>
