<div class="card">
  <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">Precio: {{ product.price }}€</p>
    <p class="card-text">Color: {{ product.color }}</p>
    <p class="card-text">Capacidad: {{ product.storage }}GB</p>
    <p class="card-text">Estado: {{ product.grade }}</p>
    <a [routerLink]="['/product', product.id]" class="btn btn-primary">Ver detalles</a>
  </div>
</div>

