<a [routerLink]="['/product', product.sku]" class="card p-2 text-decoration-none">
  <img [src]="product.image" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">Precio: {{ product.price }}€</p>
    <p class="card-text">
      Color: <span>{{ product.color | capitalize }}</span>
      <span class="color-circle" [ngClass]="product.color"></span>
    </p>
    <p class="card-text">Capacidad: {{ product.storage }}GB</p>
    <p class="card-text">Estado: {{ product.grade | gradeFormat }}</p>
  </div>
</a>
