<div class="container mt-5">
  <h2>🛒 Tu Carrito</h2>

  @if (alertMessage) {
  <div class="alert alert-{{ alertType }} alert-dismissible fade show" role="alert">
    {{ alertMessage }}
  </div>
  }

  @if (cart.length > 0) {

  <table class="table">
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      @for (product of cart; track $index) {
      <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}€</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="removeItem(product.sku)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <button class="btn btn-warning mt-3" (click)="clearCart()">Vaciar carrito</button>
  <button class="btn btn-success mt-3 ms-3" (click)="placeOrder()" [disabled]="isLoading">
    {{ isLoading ? 'Procesando...' : 'Realizar Pedido' }}
  </button>

  } @else {
  <div>
    <p class="text-muted">El carrito está vacío.</p>
  </div>
  }
</div>
